[submodule "extern/googeltest"]
	path = extern/googeltest
	url = https://github.com/google/googletest.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/abseil"]
	path = extern/abseil
	url = https://github.com/abseil/abseil-cpp
[submodule "extern/vcpkg"]
	path = extern/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "extern/cpp-httplib"]
	path = extern/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "extern/glog"]
	path = extern/glog
	url = https://github.com/google/glog.git
[submodule "extern/design_pattern"]
	path = extern/design_pattern
	url = https://github.com/codetechandtutorials/DesignPatterns.git
[submodule "extern/ros_class_loader"]
	path = extern/ros_class_loader
	url = https://github.com/ros/class_loader.git
[submodule "extern/hazel"]
	path = extern/hazel
	url = https://github.com/focus617/Hazel.git
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/walnut"]
	path = extern/walnut
	url = https://github.com/StudioCherno/Walnut.git
