[submodule "extern/googeltest"]
	path = extern/googeltest
	url = https://github.com/google/googletest.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/abseil"]
	path = extern/abseil
	url = https://github.com/abseil/abseil-cpp
